{% extends 'base.html' %}


{% block content %}
    <h1>{{event.name}}</h1>
    <a href="{% url 'registration-confirmation' event.id %}" id='confirm-event'>Register For Event</a>
    <a href="{% url 'project-submission' event.id %}">Submit Project</a>
    <p>{{event.description}}</p>

    <div>
        <h3>Event Participants</h3>

        <div>
            {% for user in event.participants.all %}
                <div>
                    <strong>{{user.name}}</strong>
                </div>
            {% endfor %}
        </div>
    </div>

<script>
    $(document).on('click', '#confirm-event', function(){
        return confirm('Confirm?');
    })
</script>
{% endblock %}